
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>BuyCoins Recurring Buy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <header id="site-header">
        <div class="container">
            <h1>
                <a href="/">
                    <img src="/images/recurring.svg" class="logo" alt="">
                </a>
            </h1>
            <a href="/setup">About/Setup</a>
        </div>
    </header>

    <main>

        <div class="container">
            <section class="card">
                <h2>Summary</h2>
                <p>Frequency: <strong><%= CONFIG.FREQUENCY %></strong></p>
                <p>Amount: <strong><%= CONFIG.AMOUNT %> NGNT worth of Bitcoin</strong></p>
                <br>
                <p>Total Bitcoin Bought: <%= totalAmount %> BTC</p>
                <p>Total Spent: <%= totalCost %> NGNT</p>
                <p>Average Price: <%= avergaePrice %> NGNT/BTC</p>
                <p>Times Bought: <%= summaries.length %></p>
            </section>
        </div>

        <% if (summaries.length > 0) { %>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>BTC Amount</th>
                        <th>NGNT Cost</th>
                        <th>Price per BTC</th>
                    </tr>
                </thead>
                <tbody>
                    <% summaries.forEach(function(summary) { %>
                        <tr>
                            <td><%= summary.date %></td>
                            <td><%= summary.amount || '' %></td>
                            <td><%= summary.cost || '' %></td>
                            <td><%= summary.price || '' %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } else { %>
            <section class="card">
                <p>You haven't bought anything yet. </p>
            </section>
        <% }%>
    </main>

</body>
</html>