
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Recurring Buy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="manifest" href="/manifest.json">

    <meta name="color-scheme" content="light dark">
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/icon-192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/images/icon-512.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icon-152.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="Recurring Buy">

    <meta property="og:title" content="Recurring Buy">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/icon-512.png">
    <meta property="og:description"
          content="This is an open-source project which you can use to spread your investment in Bitcoin over a period of time. Make automated purchases of Bitcoin daily, weekly, or monthly!">
    <meta property="og:url" content="https://buycoins-recurring-buy.herokuapp.com">
</head>
<body>
    <header id="site-header">
        <div class="container">
            <h1>
                <a href="/">
                    <img src="/images/recurring.svg" class="logo" alt="">
                </a>
            </h1>
            <a href="/setup">About/Setup</a>
        </div>
    </header>

    <main class="container">

        <section class="card">
            <h2>Summary</h2>
            <p>Frequency: <strong><%= CONFIG.FREQUENCY %></strong></p>
            <p>Amount: <strong>₦<%= CONFIG.AMOUNT %> worth of Bitcoin</strong></p>
            <br>
            <p>Total Bought: <%= totalAmount %> BTC</p>
            <p>Total Spent: ₦<%= totalCost %></p>
            <p>Average Price: ₦<%= avergaePrice %> /BTC</p>
            <p>Times Bought: <%= summaries.length %></p>
        </section>

        <% if (summaries.length > 0) { %>
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>BTC Bought</th>
                        <th class="column-cost">Cost</th>
                        <th>Price per BTC</th>
                    </tr>
                </thead>
                <tbody>
                    <% summaries.forEach(function(summary) { %>
                        <tr>
                            <td><%= summary.date %></td>
                            <td><%= summary.amount || '' %></td>
                            <td class="column-cost"><%= '₦' + summary.cost || '' %></td>
                            <td><%= summary.price || '' %></td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
        <% } %>
    </main>

</body>
</html>