
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Setup | BuyCoins Recurring Buy</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/main.css">

    <link rel="manifest" href="/manifest.json">

    <meta name="color-scheme" content="light dark">
    <link rel="icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="192x192" href="/images/icon-192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/images/icon-512.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/images/icon-152.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="BuyCoins Recurring Buy">

    <meta property="og:title" content="BuyCoins Recurring Buy">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/icon-512.png">
    <meta property="og:description"
          content="This is an open-source project which you can use to spread your investment in Bitcoin over a period of time. Make automated purchases of Bitcoin daily, weekly, or monthly!">
    <meta property="og:url" content="https://buycoins-recurring-buy.herokuapp.com">
</head>
<body>
    <header id="site-header">
        <div class="container">
            <h1>
                Setup
            </h1>
        </div>
    </header>

    <main class="container">
        <section class="card">
            <h2>Need help deciding on your daily/weekly/monthly spend?</h2>

            <p>In order to use this project, you'll need to specify how often you want to buy Bitcoin, and how much you want to spend on each purchase.</p>

            <form action="/setup#form" id="form" method="post">
                <label for="monthly_spend">How much do you want to spend (in Naira) each month?</label>

                <div class="input-group">
                    <input type="number" id="monthly_spend" name="monthly_spend" 
                           value="<%= setupOptions ? setupOptions.monthly.spend : '15000' %>">
                    <button type="submit">Calculate</button>
                </div>
            </form>

            <% if (setupOptions) { %>

                <br><br>

                <p>The current price per Bitcoin on BuyCoins is <strong>₦<%= setupOptions.buyPrice %> per BTC</strong>. With ₦<%= setupOptions.monthlySpend %>, you can buy <%= setupOptions.monthlyAmount %> BTC each month.</p>
                <br>

                <% if (setupOptions.suggestedOption) { %>
                    <p>Use any of the following options below when setting up the environemnt variables on Heroku.</p>
                    <br>
                    <table>
                        <thead>
                            <tr>
                                <th>Description</th>
                                <th><code>BUY_FREQUENCY</code></th>
                                <th><code>BUY_AMOUNT</code></th>
                            </tr>
                        </thead>
                        <tbody>
                            <% if (setupOptions.daily.available) { %>
                                <tr>
                                    <td>Buy daily</td>
                                    <td><code>DAILY</code></td>
                                    <td><code><%= setupOptions.daily.spend %></code></td>
                                </tr>
                            <% } %>
                            <% if (setupOptions.weekly.available) { %>
                                <tr>
                                    <td>Buy once a week</td>
                                    <td><code>WEEKLY_<%= new Date().getDay() %></code></td>
                                    <td><code><%= setupOptions.weekly.spend %></code></td>
                                </tr>
                            <% } %>
                            <% if (setupOptions.monthly.available) { %>
                                <tr>
                                    <td>Buy once a month</td>
                                    <td><code>MONTHLY_<%= new Date().getDate() > 29 ? 29 : new Date().getDate() %></code></td>
                                    <td><code><%= setupOptions.monthly.spend %></code></td>
                                </tr>
                            <% } %>
                        </tbody>
                    </table>

                <% } else { %>

                    <p>Unfortunately, the current minimum buy on BuyCoins is <%= setupOptions.minBuy %> BTC. The amount of BTC you can purchase with ₦<%= setupOptions.monthlySpend %> is too small. Please try a larger amount.</p>

                <% } %>

            <% } %>


        </section>

    </main>
</body>
</html>